<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.atomice.bluecheese</string>
    <key>CFBundleName</key>
    <string>bluecheese</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>connect to Bluetooth-enabled chess boards</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>connect to Bluetooth-enabled chess boards</string>
</dict>
</plist>
